@tailwind base;
@tailwind components;
@tailwind utilities;

.graticule {
    fill: lightblue;
    stroke: black;
    stroke-width: 1px;
}

@font-face {
    font-family: Helvetica;
    src: url("https://res.cloudinary.com/dbiudcrba/raw/upload/v1685365222/fonts/HelveticaNeueLTPro/HelveticaNeueLTProRoman_hi4txp.otf");
}